* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, Times, serif;
	background-color: #f2f2f2;
}

h1, h3 {
	font-family: Helvetica, sans-serif;
}

h1 {
	background-color: #fff;
	padding: 10px;
	text-align: center;
	text-transform: capitalize;
	color: #0066cc;
}

div.container {
	width: 800px;
	margin: auto;
	
}

article.blog-post {
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
}

section.post-header h3 {
	font-size: 24px;
}

section.post-header p {
	font-size: 13px;
	color: #00cc99;
}

section.post-body p {
	padding: 10px 0px;
	margin: 10px 0px;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid  #d9d9d9;
}

section.post-footer p {
	font-size: 13px;
}

footer {
	text-align: center;
	color: #808080;
	font-size: 13px;
}




