.jumbotron {
	background-color: #fff;
}

.jumbotron > h2 {
	font-size: 60px;
}

.jumbotron > h4 {
	font-weight: normal;
}

.jumbotron > button {
	margin-top: 5px;
}
.warning {
	color:crimson;
}

.col-wrapper > div > div {
	margin-bottom: 10px;
}

