*{
	margin: 0;
	padding: 0;
}
.page{
	width: 1000px;
	margin: 0 auto;
}
nav{
	width: 100%;
	font-size: 11pt;
	font-weight: bold;
}
nav ul{
	width: 1000px;
	border-radius: 6px;
	list-style: none;
}
nav a{
	color: #8F8F8F;
	display: inline-block;
	width: 166px;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	background-color: #E9E8E8;
	border: 0.5px solid #BEBEBE;
}
nav a:hover{
	color: #8F8F8F;
	text-decoration: none;
	box-shadow: 1px 2px 2px 0px #A09E9E inset;
	background-color: #DFDFDF;
}
.page h2{
	color: #252424;
	letter-spacing: 1px;
	font-size: 2.7em;
	font-weight: 700;
	text-align: center;
}
.page p{
	text-align: center;
	margin: 0 30px 20px 30px;
	font-size: 1.3em;
	font-weight: 200;
}
.page button{
	background-color: #4CF130;
	height: 50px;
	border:0.1px solid;
	padding: 0 15px;
}
.page button a{
	color: white;
	width: 30 0px;
	text-align: center;
	letter-spacing: 0.3px;
	font-size: 1.5em;
	font-weight: 600;
}
.page a:hover{
	text-decoration: none;
}
.content-page{
	float: left;
	width: 300px;
}
.content-page h3{
	color:#343434;
	font-weight: 600;
}
.content-page button{
	background-color: #0255FF;
	padding: 5px 10px;
	border: 0.2px solid;
	border-radius: 4px;
}
.content-page button a{
	line-height: 30px;
	color: white;
	font-size: 1.2em;
}
.glyphicon-menu-right:before{
	color: white;
}
footer{
	margin-top: 60px;
	color: #444343;
	font-size: 1.1em;
	font-family: serif;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #FFF;
    border-radius: 6px;
}
.navbar-collapse {
	padding: 0 !important;
}
.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #A4A4A4;
}

.navbar-default .navbar-nav > .active > a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > li > a {
    color: #999;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width:768px){
    .navbar-default .navbar-nav .open .dropdown-menu> li > a:hover,
    .dropdown-menu > li > a:hover {
        color: #FFF!important;
    }
}

