<style type="text/css">
* {
	padding: 0;
	margin: 0;
}
body{
	margin: 0px;
}
#main{
	width: 100%;
}

nav{
	text-transform: capitalize;
	color: #FF6400;
	text-align: center;
	padding-bottom: 10px;
	background-color:#2E2E2E;
}
nav>h3{
	margin: 0;
	padding: 10px 0;
	font-size: 2em;
}
article{
	padding: 10px 10px;
	margin:10px 2px;
	background-color:#2E2E2E;
}
article>h3{
	text-transform: capitalize;
	color: #FF6400;
	font-size: 1.3em;
	margin: 0;
}
article>h6{
	color: #F1F1F1;
	font-size: 0.8em;
	margin: 5px 0;
}
article>p{
	font-family: serif;
	color: white;
}
.footer{
	font-size: 0.9em;
}
.footer p{
	font-style: italic;
	font-family: cursive;
	margin-bottom: 5px;
	color:#F1F1F1;
}
footer{
	text-align: center;
	color: #848383;
	font-size: 0.7em;
}
</style>